In [3]:
#Load in Libraries
library(readr)
library(car)
library(caret)
library(gvlma)
library(predictmeans)

In [4]:
heights <- read_csv("/Users/julieraeboucher/Desktop/Datasets/heights.csv")

Rows: 41 Columns: 2
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
dbl (2): AM_Height, PM_Height

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [5]:
head(heights)

  AM_Height PM_Height
1 1728.75   1720.25
2 1538.25   1528.50
3 1462.25   1452.50
4 1782.50   1776.50
5 1671.00   1667.00
6 1581.75   1571.00

# Simple Linear Regression in R