# Equality
The most basic form of comparison is equality. Let's briefly recap its syntax. The following statements all evaluate to `TRUE` (feel free to try them out in the console).
```
3 == (2 + 1)
"intermediate" != "r"
TRUE != FALSE
"Rchitect" != "rchitect"
```
Notice from the last expression that R is case sensitive: "R" is not equal to "r". Keep this in mind when solving the exercises in this chapter!

- In the editor on the right, write R code to see if `TRUE` equals `FALSE`.
- Likewise, check if `-6 * 14` is not equal to `17 - 101`.
- Next up: comparison of character strings. Ask R whether the strings `"useR"` and `"user"` are equal.
- Finally, find out what happens if you compare logicals to numerics: are `TRUE` and 1 equal?

In [1]:
# Comparison of logicals
TRUE == FALSE

# Comparison of numerics
-6 * 14 != 17 - 101

# Comparison of character strings
"useR" == "user"

# Compare a logical with a numeric
TRUE == 1

[1] FALSE

[1] FALSE

[1] FALSE

[1] TRUE

# Greater and less than
Apart from equality operators, Filip also introduced the less than and greater than operators: `<` and `>`. You can also add an equal sign to express less than or equal to or greater than or equal to, respectively. Have a look at the following R expressions, that all evaluate to `FALSE`:
```
(1 + 2) > 4
"dog" < "Cats"
TRUE <= FALSE
```
Remember that for string comparison, R determines the greater than relationship based on alphabetical order. Also, keep in mind that `TRUE is treated as 1` for arithmetic, and `FALSE is treated as 0`. Therefore, `FALSE < TRUE` is `TRUE`.

Write R expressions to check whether:

- `-6 * 5 + 2` is greater than or equal to `-10 + 1`.
- `"raining"` is less than or equal to `"raining dogs"`.
- `TRUE` is greater than `FALSE`.

In [2]:
# Comparison of numerics
-6 * 5 + 2 >= -10 + 1

# Comparison of character strings
"raining" <= "raining dogs"

# Comparison of logicals
TRUE > FALSE

[1] FALSE

[1] TRUE

[1] TRUE

# Compare vectors
You are already aware that R is very good with vectors. Without having to change anything about the syntax, R's relational operators also work on vectors.

Let's go back to the example that was started in the video. You want to figure out whether your activity on social media platforms have paid off and decide to look at your results for `LinkedIn` and `Facebook`. The sample code in the editor initializes the vectors linkedin and facebook. Each of the vectors contains the number of profile views your `LinkedIn` and `Facebook` profiles had over the last seven days.

Using relational operators, find a logical answer, i.e. `TRUE` or `FALSE`, for the following questions:

- On which days did the number of LinkedIn profile views exceed 15?
- When was your LinkedIn profile viewed only 5 times or fewer?
- When was your LinkedIn profile visited more often than your Facebook profile?

In [3]:
# The linkedin and facebook vectors have already been created for you
linkedin <- c(16, 9, 13, 5, 2, 17, 14)
facebook <- c(17, 7, 5, 16, 8, 13, 14)

# Popular days
linkedin > 15
Popular_days <- sum(linkedin > 15)
Popular_days

# Quiet days
linkedin <= 5
quite_days <- sum(linkedin < 5)
quite_days

# LinkedIn more popular than Facebook
more_popular <- linkedin > facebook
more_popular

[1]  TRUE FALSE FALSE FALSE FALSE  TRUE FALSE

[1] 2

[1] FALSE FALSE FALSE  TRUE  TRUE FALSE FALSE

[1] 1

[1] FALSE  TRUE  TRUE FALSE FALSE  TRUE FALSE

# Compare matrices
R's ability to deal with different data structures for comparisons does not stop at vectors. Matrices and relational operators also work together seamlessly!

Instead of in vectors (as in the previous exercise), the `LinkedIn` and `Facebook` data is now stored in a matrix called `views`. The first row contains the LinkedIn information; the second row the Facebook information. The original vectors facebook and linkedin are still available as well.

Using the relational operators you've learned so far, try to discover the following:

- When were the views exactly equal to 13? Use the `views` matrix to return a logical matrix.
- For which days were the number of views less than or equal to 14? Again, have R return a logical matrix.

In [4]:
# The social data has been created for you
linkedin <- c(16, 9, 13, 5, 2, 17, 14)
facebook <- c(17, 7, 5, 16, 8, 13, 14)
views <- matrix(c(linkedin, facebook), nrow = 2, byrow = TRUE)

# When does views equal 13?
views == 13

# When is views less than or equal to 14?
views <= 14

     [,1]  [,2]  [,3]  [,4]  [,5]  [,6]  [,7]
[1,] FALSE FALSE  TRUE FALSE FALSE FALSE FALSE
[2,] FALSE FALSE FALSE FALSE FALSE  TRUE FALSE

     [,1]  [,2] [,3] [,4]  [,5] [,6]  [,7]
[1,] FALSE TRUE TRUE  TRUE TRUE FALSE TRUE
[2,] FALSE TRUE TRUE FALSE TRUE  TRUE TRUE